!/WreckEngine/bin/*
!/WreckEngine/lib/*

# Ignored directories
/WreckEngine/.vs/*
/WreckEngine/[Dd]ebug/*
/WreckEngine/[Rr]elease/*
/WreckEngine/[Pp]ackages/*
/WreckEngine/x64/*

# Ignored file types
*.db
*.opendb
*.vsp